 <div class="sidebar-left horizontal-sidebar">
    <div class="sidebar-slide h-100">
        <!--- Sidebar-menu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="left-menu list-unstyled" id="side-menu">
                <li>
                    <a href="dashboard.html">
                        <i data-eva="compass-outline"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="menu-title">Apps</li>
                <li>
                    <a href="analytics.html">
                        <i data-eva="calendar-outline"></i>
                        <span>Analytics</span>
                    </a>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <i data-eva="people-outline"></i>
                        <span>Users</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="apps-product-list.html">Users List</a></li>
                        <li><a href="apps-product-overview.html">Users Overview</a></li>
                        <li><a href="apps-create-product.html">Create Users</a></li>
                    </ul>
                </li>
                <li>
                    <a href="pages-faqs.html"><i data-eva="question-mark-circle-outline"></i>
                        <span>FAQs</span></a>
                </li>
                <li>
                    <a href="pages-contact.html"><i data-eva="phone-outline"></i> <span>Contact</span></a>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>